<h1>Attractions</h1>
<% @attractions.each do |attraction| %>
  <p><%=attraction.name %>

  <% if current_user.admin %>
    <%= link_to "Go on " + attraction.name, attraction %>
  <% end %>

  <%= link_to " Show #{attraction.name}", attraction %></p>
<% end %>
<% if current_user.admin %>
  <p><%= link_to "New Attraction", new_attraction_path %></p>
<% end %>
